<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<style>
			body {
				margin: 0px;
				background-color: #309ecc;
				overflow: hidden;
			}
            canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
        <div id="controls" style="display: none;"  >
        <input type="button" id="add_client" value="Add client" />
        </div>


        <script src="js/three.min.js"></script>
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/tween.min.js"></script>
        <script src="js/Detector.js"></script>
        <script src="//static.opentok.com/v2/js/opentok.min.js"></script>

        <script>
            // 3d stuff
            var camera, scene, renderer, sceneFloor;
            var floor, sphere;
            var tweenCameraPosition, tweenCameraCenter;

            // opentok stuff
            var apiKey = '<%= apiKey %>';
            var sessionId = '<%= sessionId %>';
            var token = '<%= token %>';
            var session;
            var clientId = 0;  // create unique ids for clients

            $( document ).ready(function() {
                if (!Detector.webgl ) {
                    window.location = "http://get.webgl.org";
                } else {
                    init();
                    animate();
                }
            })

            function init3d() {

                renderer = new THREE.WebGLRenderer({ preserveDrawingBuffer: true });
                renderer.autoClear = false;
                renderer.sortObjects = false;
                //renderer.setPixelRatio( window.devicePixelRatio );
                renderer.setSize( window.innerWidth, window.innerHeight );
                renderer.setClearColor( new THREE.Color(0.19, 0.62, 0.8));
                document.body.appendChild( renderer.domElement );

                camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 0.1, 200 );
                camera.position.set(-10, 0, 0.5);
                camera.up.set(0, 0, 1);
                camera.lookAt( new THREE.Vector3(0,0,0));

                tweenCameraPosition = new TWEEN.Tween({});
                tweenCameraRotation = new TWEEN.Tween({});

                // var controls = new THREE.TrackballControls( camera );
                // controls.addEventListener( 'change', render );

                scene = new THREE.Scene();
                sceneFloor = new THREE.Scene();

                // AxisHelper
                var axisHelper = new THREE.AxisHelper(2);
                //scene.add(axisHelper);

                // Floor
                var materialFloor = new THREE.MeshBasicMaterial( { color: 0x80f0f0, vertexColors: THREE.VertexColors, transparent: true, opacity: 0.85 } );
                var radius = 20;
                var segments = 30;
                var circleGeometry = new THREE.CircleGeometry( radius, segments );
                for ( var i = 0; i < circleGeometry.faces.length; i++ )
                {
                    face  = circleGeometry.faces[ i ];
                    face.vertexColors[ 0 ] = new THREE.Color();
                    face.vertexColors[ 0 ].setRGB(0.05, 0.30, 0.43);
                    face.vertexColors[ 1 ] = new THREE.Color();
                    face.vertexColors[ 1 ].setRGB(0.05, 0.30, 0.43);
                    face.vertexColors[ 2 ] = new THREE.Color();
                    face.vertexColors[ 2 ].setRGB(0.35, 0.69, 0.83);
                }

                floor = new THREE.Mesh( circleGeometry, materialFloor );
                scene.add( floor );
                sceneFloor.add(floor.clone());

                // Background sphere
                sphere = new THREE.Object3D();
                var mixedGeometry = new THREE.SphereGeometry( radius, 40, 20);
                var sphereWire = new THREE.Mesh(mixedGeometry.clone() , new THREE.MeshBasicMaterial( {color: 0xF0E68C, wireframe: true, wireframeLinewidth: 1} ) );
                var sphereFlat = new THREE.Mesh(mixedGeometry.clone() , new THREE.MeshBasicMaterial( {color: 0x309ecc} ) );
                sphereFlat.scale.set(0.995, 0.995, 0.995);

                sphere.add(sphereWire);
                sphere.add(sphereFlat);

                sphere.position.set(radius*2, radius/2, radius/3);
                sphere.rotation.x = 1;
                scene.add( sphere );

                //
                window.addEventListener( 'resize', onWindowResize, false );
                onWindowResize();
            }

            function initOpentok() {
                OT.setLogLevel(OT.ERROR);
                session = OT.initSession(apiKey, sessionId);


                session.on("streamDestroyed", function(event) {
                    console.log("Stream " + event.stream.streamId + " ended. " + event.reason);
                    removeClient(event.stream.streamId);
                    updateCamera();

                });

                session.on("streamCreated", function(event) {
                    // Add invisible div for it
                    var div = document.createElement("div");
                    div.style.display = "none";
                    var myid = createNewId();
                    div.id = myid;
                    document.body.appendChild(div);
                    var subscriber = session.subscribe(event.stream,  myid, function(err) {
                        if (err) {
                            console.error('Could not subscribe: ' + err);
                            return;
                        }

                        var videoElement = subscriber.videoElement();
                        addClient(event.stream.streamId, videoElement);
                        updateCamera();
                    });
                });



                session.connect(token, function (error) {
                    // Add invisible div for it
                    var myId = createNewId();
                    var div = document.createElement("div");
                    div.style.display = "none";
                    div.id = myId;
                    document.body.appendChild(div);

                    var publisher = OT.initPublisher(myId, {resolution: "320x240"});
                    session.publish(publisher, function(err) {
                        if (err) {
                            console.error('Could not publish: ' + err);
                            return;
                        }
                        var pubVideoElement = publisher.videoElement();
                        addClient(myId, pubVideoElement);
                        updateCamera();
                    });
                });
            }

            function createNewId() {
                return "Client" + clientId++;

            }


           function init() {
                init3d();
                initOpentok();
            }

            function onWindowResize() {

                camera.aspect = window.innerWidth / window.innerHeight;
                // Limit: aspect 1.35
                var fov = 45;
                var limit = 1.35;
                if (camera.aspect < limit) {
                    fov = fov / Math.pow(camera.aspect / limit, 0.8);
                }
                camera.fov = fov;
                camera.updateProjectionMatrix();
                renderer.setSize( window.innerWidth, window.innerHeight );
            }

            function animate() {

                sphere.rotation.y += 0.0005;

                TWEEN.update();

                requestAnimationFrame( animate );
                renderer.autoClear = false;
                renderer.clear();

                // Mirror effect: https://www.opengl.org/archives/resources/code/samples/mjktips/Reflect.html
                var gl = renderer.getContext();
                gl.colorMask(false, false, false, false);
                gl.enable( gl.STENCIL_TEST );
                gl.stencilMask(0xff);
                gl.stencilOp(gl.REPLACE, gl.REPLACE, gl.REPLACE);
                gl.stencilFunc(gl.ALWAYS, 1, 0xff);

                renderer.render(sceneFloor, camera);

                gl.colorMask(true, true, true, true);
                gl.stencilFunc(gl.EQUAL, 1, 0xff);
                gl.stencilOp(gl.KEEP, gl.KEEP, gl.KEEP);
                renderer.clear(false, true, false);  // for some reason, we can't disable the depth test. Let it run, and clear

                // Invert z for all objects
                scene.remove(floor);
                for (var i = 0; i < scene.children.length; i++) {
                    var myobj = scene.children[i];
                    myobj.updateMatrix();
                    var mym = myobj.matrix;
                    var scalem = new THREE.Matrix4();
                    scalem.scale(new THREE.Vector3(1,1,-1));
                    myobj.matrix = scalem.multiply(mym);
                    myobj.matrixAutoUpdate = false;
                }

                renderer.render( scene, camera );
                for (var i = 0; i < scene.children.length; i++) {
                    var myobj = scene.children[i];
                    myobj.matrixAutoUpdate = true;
                }

                gl.disable(gl.STENCIL_TEST);
                scene.remove(sphere);
                scene.add(floor);  // we want floor in the same scene for z ordering


                renderer.render( scene, camera );

                // little hack to make sphere be rendered AFTER the floor
                var tmp = new THREE.Scene();
                tmp.add(sphere.clone());
                renderer.render(tmp, camera);
                scene.add(sphere);
            }

            var videoAspectRatio = 4.0/3.0;
            var radius = 1.0;
            var totalArc = Math.PI ;
            var numParticipantsX = 3;  // We will be stacking up


            // Same orientation as regular XY axis: origin in left bottom corner
            function matrixForLayout(x, y) {
                var matrix = new THREE.Matrix4();
                var length = radius * Math.sqrt(2 - 2 * Math.cos(totalArc / numParticipantsX));

                // Y coordinate
                matrix.multiply(new THREE.Matrix4().makeTranslation(0, 0, y * 1.05 * length  / videoAspectRatio));

                // X coordinate
                matrix.multiply(new THREE.Matrix4().makeRotationZ((totalArc / numParticipantsX) / 2 - totalArc / 2));
                matrix.multiply(new THREE.Matrix4().makeRotationZ(x * totalArc / numParticipantsX));
                matrix.multiply(new THREE.Matrix4().makeTranslation(radius, 0.0, 0.0)); // Same for all
                matrix.multiply(new THREE.Matrix4().makeRotationY(-Math.PI / 2)); // Original geometry is xy plane. Make it yz plane
                matrix.multiply(new THREE.Matrix4().makeScale(length / videoAspectRatio, length, 1.0)); // Adapt width to fit arc
                matrix.multiply(new THREE.Matrix4().makeTranslation( 0.5, 0, 0));  // original bounding box is (-0.5,-0.5)->(0.5,0.5).
                matrix.multiply(new THREE.Matrix4().makeRotationZ(-Math.PI/2));  // rotate to fix the texture

                return matrix;
            }

            function rearrangeClients() {
                var posClient = 0;
                // rearrange layout
                for (var i = 0; i < scene.children.length; i++) {
                    var myobj = scene.children[i];
                    if (myobj.mytype === "client") {

                        // reset previous position and rotation
                        myobj.position.set(0,0,0);
                        myobj.rotation.set(0,0,0);
                        myobj.scale.set(1,1,1);
                        myobj.updateMatrix();
                        myobj.applyMatrix(matrixForLayout(posClient % numParticipantsX, Math.floor(posClient / numParticipantsX)));
                        posClient++;
                    }
                }
            }

            // Updates the camera automatically depending on the number of people in the room
            var firstTime = true;
            function updateCamera() {
                // We need to know how many guys there are
                var numClients = 0;
                // rearrange layout
                for (var i = 0; i < scene.children.length; i++) {
                    var myobj = scene.children[i];
                    if (myobj.mytype === "client") numClients++;
                }
                console.log("Num clients: " + numClients);

                // It depends on the numParticipantsX and totalArc
                var width = radius * Math.sqrt(2 - 2 * Math.cos(totalArc / numParticipantsX));
                var height = width / videoAspectRatio;

                var obj = {};
                if (numClients == 0) {
                    numClients = 1;
                }
                var z = (Math.floor((numClients - 1) / numParticipantsX) + 1) * height;
                var xc, yc, zc;  // center
                var xe, ye;  // eye
                var factor = 2.0;
                if (numClients < numParticipantsX) {
                    var angle =  numClients * Math.PI / (numParticipantsX*2) - Math.PI / 2;
                    xc = radius * Math.cos(angle);
                    yc = radius * Math.sin(angle);
                    xe = -xc * factor * numClients / numParticipantsX;
                    ye = -yc * factor * numClients / numParticipantsX;
                } else {
                    xc = radius;
                    yc = 0;
                    xe = -factor * radius - Math.floor((numClients - 1)/numParticipantsX)/3;
                    ye = 0;
                }
                var time = firstTime? 3000 : 1000;
                firstTime = false;

                tweenCameraPosition.stop();
                tweenCameraPosition = new TWEEN.Tween({x: camera.position.x, y: camera.position.y, z: camera.position.z})
                .to({x: xe, y: ye, z: z}, time)
                .onUpdate( function() {
                    camera.position.set(this.x, this.y, this.z);
                })
                .start();

                var qm = new THREE.Quaternion();
                var qinit = camera.quaternion.clone();
                var matend = new THREE.Matrix4().lookAt( new THREE.Vector3(xe,ye,z), new THREE.Vector3(xc,yc, z/2), camera.up );
                var qend = new THREE.Quaternion().setFromRotationMatrix(matend);
                tweenCameraRotation.stop();
                tweenCameraRotation = new TWEEN.Tween({t: 0}).to({t: 1}, time)
                .onUpdate( function() {
                    THREE.Quaternion.slerp(qinit, qend, qm, this.t);
                    qm.normalize();
                    camera.rotation.setFromQuaternion(qm);
                })
                .start();

            }

            function addClient(id, videoElement) {
                console.log("Adding client " + id);
                var mesh;
                var geometry = new THREE.PlaneGeometry( 1, 1, 1 );

                var texture;
                if (videoElement === undefined) {
                    texture = THREE.ImageUtils.loadTexture( 'texture.png' );
                } else {
                    texture = new THREE.VideoTexture( videoElement );
                    texture.minFilter = THREE.LinearFilter;
                    texture.magFilter = THREE.LinearFilter;
                    texture.format = THREE.RGBFormat;
                }
            //    texture.anisotropy = renderer.getMaxAnisotropy();
                var material = new THREE.MeshBasicMaterial( { map: texture, side: THREE.DoubleSide } );
                mesh = new THREE.Mesh( geometry, material );
                mesh.name = id;
                mesh.mytype = "client";  // Used to rearrange clients and count for camera update
                scene.add( mesh );
                rearrangeClients();
            }

            function removeClient(id) {
                var obj = scene.getObjectByName( id );
                scene.remove(obj);
                rearrangeClients();
            }


            $("#add_client").click(function () {
                var myId = createNewId();
                addClient(myId);
                updateCamera();

                // Debug: add button to remove client
                var myButton =$('<input type="button" value="Remove ' + myId + '"/>');
                myButton.click(function() {
                    console.log("Remmoving client " + myId);
                    removeClient(myId);
                    updateCamera();
                    $(this).remove();

                });
                $('#controls').append(myButton);
            });

        </script>

    </body>
</html>
